<!doctype html>
{% load static %}


<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Portfolio</title>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/skils_style.css' %}">
    </head>
    <body>
        <div class="divLogo" >
            <a href="https://docs.python.org/pt-br/3/tutorial/index.html" target="_blank" class="divLogoInitial">
                <img src="{% static 'img/logo_python.png' %}" alt="Logo Python" class="logo">
            </a>
        </div>
        <div class="divButtonMain">
            <a class="buttonMain" href="{% url 'index' %}">
                Home
            </a>
        </div>
        <div class="divButtonExp">
            <a class="buttonExp" href="{% url 'experiencia' %}">
                Professional Experience
            </a>
        </div>
        <p class="indica"> PYTHON </p>
        <div class="divStylePy">
            <p style="text-align: center"> <br> SKILS </p>
        </div>
        <div class="expPy">
            <p style="text-align: center">
                <br>Django <br> <br>
            </p>
            <p style="text-align: center">
                Graphical User Interface <br> (GUI) <br>
            </p>
            <p style="text-align: center">
                Data debugging <br> <br>
            </p>
            <p style="text-align: center">
                Database Integration <br> <br>
            </p>
            <p style="text-align: center">
                Object-Oriented Programming <br> (OOP) <br>
            </p>
        </div>
        <div class="divStyleLib">
            <p style="text-align: center"> <br> LIBRARIES </p>
        </div>
        <div class="expLib">
            <p style="text-align: center">
                <br> <br>Pandas
            </p>
            <p style="text-align: center">
                Tkinter
            </p>
            <p style="text-align: center">
                Scikit-learn
            </p>
            <p style="text-align: center">
                Matplotlib
            </p>
            <p style="text-align: center">
                DateTime
            </p>
            <p style="text-align: center">
                Sqlite
            </p>
            <p style="text-align: center">
                Psycopg2
            </p>
        </div>
        <div class="divStylePro">
            <p style="text-align: center"> <br> PROJECTS </p>
        </div>
        <div class="expPro">
            <p style="text-align: center"> <br> <br>
                <a href="https://github.com/FelpsFranco/Portfolio" class="links" target="_blank"> Portfolio</a>
            </p>
            <p style="text-align: center">
                <a href="https://github.com/FelpsFranco/Regressao_Linear" class="links" target="_blank"> Regressão Linear</a>
            </p>
            <p style="text-align: center">
                <a href="https://github.com/FelpsFranco/InterfacePrototype" class="links" target="_blank"> Interface Prototype</a>
            </p>
            <p style="text-align: center">
                <a href="https://github.com/FelpsFranco/Atendimentos-por-Operador" class="links" target="_blank"> Atendimento Por Operador</a>
            </p>
            <p style="text-align: center">
                <a href="https://github.com/FelpsFranco/Controle-de-cotas-de-disco" class="links" target="_blank"> Controle de Cotas de Disco</a>
            </p>
            <p style="text-align: center">
                <a href="https://github.com/FelpsFranco/RPG_GAME" class="links" target="_blank"> RPG GAME</a>
            </p>
        </div>
        <p class="divStyleTi" style="text-align: center"> OTHERS </p>
        <div class="divData">
            <p style="text-align: center"> <br> DATA BASES </p>
        </div>
        <div class="expTi">
            <p style="text-align: center">
                <br> <br> MySQL
            </p>
            <p style="text-align: center">
                Postgres
            </p>
            <p style="text-align: center">
                MySQLite
            </p>
        </div>
        <div class="divTec">
            <p style="text-align: center"> <br> TECNOLOGY </p>
        </div>
        <div class="expTec">
            <p style="text-align: center">
                <br> <br> Enterprise Resource Planning <br> (ERP)
            </p>
            <p style="text-align: center">
                Point Of Sale <br> (POS)
            </p>
            <p style="text-align: center">
                Business Intelligence (BI)
            </p>
            <p style="text-align: center">
                Basic HTML/CSS
            </p>
        </div>
    </body>
</html>