@media (max-width: 900px) {

    body {
        margin: 0;
        background: moccasin;
        height: 100vh;
    }

    .divLogo {
        height: 10vw;
        margin-bottom: -3vw;
        background: #5d548e;
    }

    .divLogoInitial {
        display: inline-block;
        vertical-align: center;
        height: 15px;
        width: 15px;
    }

    .divButtonMain {
        margin-left: 60vw;
        margin-top: -7vw;

    }

    .buttonMain {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        text-decoration: #e8e8e8;
        color: #e8e8e8;
        border-radius: 0.5vw;
        padding: 0.5vw 1vw;
        font-size: 11px;
        font-style: normal;
    }

    .divButtonExp {
        margin-top: -6vw;
        margin-left: 75vw;
    }

    .buttonExp {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        text-decoration: #e8e8e8;
        color: #e8e8e8;
        border-radius: 0.5vw;
        padding: 0.5vw 1vw;
        font-size: 11px;
        font-style: normal;
    }

    .buttonMain:hover {
        background: #c9a7eb;
        color: #1b1b1b;
    }

    .buttonExp:hover{
        background: #c9a7eb;
        color: #1b1b1b;
    }


    .logo {
        width: 8vw;
        height: 8vw;
        margin-top: 1vw;
        margin-bottom: -2vw;
        margin-left: 5vw;
    }

    .indica {
        font-family: "Times New Roman", Times, serif;
        color: #1b1b1b;
        background: #c9a7eb;
        margin-left: 1.5vw;
        margin-top: 10vw;
        font-size: 3vw;
        text-align: center;
        width: 65vw;
        height: 60vw;
        border-radius: 2vw;
    }

    .divStylePy {
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        margin-top: -55vw;
        margin-left: 3vw;
        color: #dddddd;
        background: #205067;
        width: 18vw;
        height: 8vw;
        border-radius: 1vw;
    }

    .expPy {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -3vw;
        margin-left: 3vw;
        background: #c4dce8;
        height: 30vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .divStylePy:hover {
        color: #1b1b1b;
    }

    .divStyleLib {
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        margin-top: -34vw;
        margin-left: 25vw;
        color: #dddddd;
        background: #417690;
        width: 18vw;
        height: 8vw;
        border-radius: 1vw;
    }

    .divStyleLib:hover {
        color: #1b1b1b;
    }

    .expLib {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -3vw;
        margin-left: 25vw;
        background: #c4dce8;
        height: 25vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .divStylePro {
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        margin-top: -38vw;
        margin-left: 47vw;
        color: #dddddd;
        background: darkcyan;
        width: 18vw;
        height: 8vw;
        border-radius: 1vw;
    }

    .divStylePro:hover {
        color: #1b1b1b;
    }

    .expPro {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -3vw;
        margin-left: 47vw;
        background: #c4dce8;
        height: 30vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .links {
        font-family: "Times New Roman", Times, serif;
        color: #1b1b1b;
        text-decoration: #e8e8e8;
    }

    .links:hover {
        color: #dddddd;
    }

    .divStyleTi {
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        margin-top: -44.5vw;
        margin-left: 68.5vw;
        color: #1b1b1b;
        background: #c9a7eb;
        width: 30vw;
        height: 60vw;
        border-radius: 2vw;
    }

    .divData {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -54vw;
        margin-left: 70vw;
        color: #dddddd;
        background: #205067;
        width: 12vw;
        height: 8vw;
        border-radius: 1vw;
    }


    .expTi {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -4vw;
        margin-left: 70vw;
        background:  #c4dce8;
        height: 15vw;
        width: 12vw;
        border-radius: 1vw;
    }

    .divTec {
        font-family: "Times New Roman", Times, serif;
        font-size: 2vw;
        margin-top: -11vw;
        margin-left: 85vw;
        color: #dddddd;
        background: #205067;
        width: 13vw;
        height: 10vw;
        border-radius: 1vw;
    }

    .expTec {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5vw;
        margin-top: -5vw;
        margin-left: 85vw;
        background:  #c4dce8;
        height: 28vw;
        width: 13vw;
        border-radius: 1vw;
    }
}

@media (min-width: 900px) {

    body {
        margin: 0;
        background: moccasin;
        height: 100vh;
    }

    .divLogo {
        height: 4vw;
        margin-bottom: -3vw;
        background: #5d548e;
    }

    .divLogoInitial {
        display: inline-block;
        vertical-align: center;
        height: 1vw;
        width: 1vw;
    }

    .divButtonMain {
        margin-left: 78vw;

    }

    .buttonMain {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        text-decoration: #e8e8e8;
        color: #e8e8e8;
        border-radius: 0.5vw;
        padding: 0.5vw 1vw;
        font-size: 18px;
        font-style: normal;
    }

    .divButtonExp {
        margin-top: -2.5vw;
        margin-left: 85vw;
    }

    .buttonExp {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        text-decoration: #e8e8e8;
        color: #e8e8e8;
        border-radius: 0.5vw;
        padding: 0.5vw 1vw;
        font-size: 18px;
        font-style: normal;
    }

    .buttonMain:hover {
        background: #c9a7eb;
        color: #1b1b1b;
    }

    .buttonExp:hover{
        background: #c9a7eb;
        color: #1b1b1b;
    }


    .logo {
        width: 3.5vw;
        height: 3.5vw;
        margin-top: 0.2vw;
        margin-bottom: -2vw;
        margin-left: 48vw;
    }

    .indica {
        font-family: "Times New Roman", Times, serif;
        color: #1b1b1b;
        background: #c9a7eb;
        margin-left: 1.5vw;
        margin-top: 3vw;
        font-size: 1vw;
        text-align: center;
        width: 65vw;
        height: 32vw;
        border-radius: 2vw;
    }

    .divStylePy {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -31vw;
        margin-left: 3vw;
        color: #dddddd;
        background: #205067;
        width: 18vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .expPy {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.2vw;
        margin-top: -3vw;
        margin-left: 3vw;
        background: #c4dce8;
        height: 25vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .divStylePy:hover {
        color: #1b1b1b;
    }

    .divStyleLib {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -28vw;
        margin-left: 25vw;
        color: #dddddd;
        background: #417690;
        width: 18vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .divStyleLib:hover {
        color: #1b1b1b;
    }

    .expLib {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.2vw;
        margin-top: -3vw;
        margin-left: 25vw;
        background: #c4dce8;
        height: 25vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .divStylePro {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -30.5vw;
        margin-left: 47vw;
        color: #dddddd;
        background: darkcyan;
        width: 18vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .divStylePro:hover {
        color: #1b1b1b;
    }

    .expPro {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.2vw;
        margin-top: -3vw;
        margin-left: 47vw;
        background: #c4dce8;
        height: 25vw;
        width: 18vw;
        border-radius: 1vw;
    }

    .links {
        font-family: "Times New Roman", Times, serif;
        color: #1b1b1b;
        text-decoration: #e8e8e8;
    }

    .links:hover {
        color: #dddddd;
    }

    .divStyleTi {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -30vw;
        margin-left: 68.5vw;
        color: #1b1b1b;
        background: #c9a7eb;
        width: 30vw;
        height: 32vw;
        border-radius: 2vw;
    }

    .divData {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -31vw;
        margin-left: 70vw;
        color: #dddddd;
        background: #205067;
        width: 12vw;
        height: 5vw;
        border-radius: 1vw;
    }


    .expTi {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.2vw;
        margin-top: -3vw;
        margin-left: 70vw;
        background:  #c4dce8;
        height: 15vw;
        width: 12vw;
        border-radius: 1vw;
    }

    .divTec {
        font-family: "Times New Roman", Times, serif;
        font-size: 1vw;
        margin-top: -11vw;
        margin-left: 85vw;
        color: #dddddd;
        background: #205067;
        width: 12vw;
        height: 5vw;
        border-radius: 1vw;
    }

    .expTec {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.2vw;
        margin-top: -3vw;
        margin-left: 85vw;
        background:  #c4dce8;
        height: 18vw;
        width: 12vw;
        border-radius: 1vw;
    }


}