body {
    margin: 0;
}

.divLogo {
    width: 25vw;
    margin-left: 1vw;
    margin-bottom: -4vw;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 0.5vw;
    margin-bottom: -1vw;
    margin-left: 45vw;
}

.name {
    font-size: 22px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    margin-top: -2vw;
    margin-left: 7vw;
}

.felipe:hover {
    background: #e8e8e8;
}

.buttonExp {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-left: 70vw;
    margin-top: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonExp:hover {
    background: #1b1b1b;
}


.buttonConhece {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-left: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonConhece:hover {
    background: #1b1b1b;
}

.buttonTrabalhos {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-left: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonTrabalhos:hover {
    background: #1b1b1b;
}

.icon {
    width: 30vw;
    height: 5vh;
    margin-top: 15.5vw;
    margin-left: 3.7vw;
}

.imagem_git img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5.1vw;
    width: 3.5vw;
}

.imagem_insta img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 5.4vw;
    width: 3vw;
}

.imagem_linke img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 5.5vw;
    width: 2.8vw;
}