
body {
    margin: 0;
}

.divLogo {
    width: 25vw;
    margin-left: 1vw;
    margin-bottom: -4vw;
}

.divButtonMain {
    margin-top: 2vw;
    margin-left: 90vw;
}

.buttonMain {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    background: #1b1b1b;
    border-radius: 10px;
    padding: 3px 20px;
    font-size: 18px;
    font-style: normal;
}

.buttonMain:hover {
    background: #1b1b1b;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 0.5vw;
    margin-bottom: -1vw;
    margin-left: 45vw;
}


.infoExp {
    width: 60vw;
    height: 10vw;
}

.exper {
    margin-top: 2vw;
    margin-left: 5vw;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: burlywood;

}

.divButton {
    margin-top: 8vw;

}

.buttonAdm{
    margin-left: 3vw;
    border-radius: 30px;
    padding: 5px 20px;
    background: #1b1b1b;
    color: #e8e8e8;
}

.buttonSup {
    margin-left: 5vw;
    border-radius: 30px;
    padding: 5px 20px;
}