@media (min-width: 768px) {
    body {
        margin: 0;
        background: #ECC9EE;
        height: 100vh;
    }

    .divLogo {
        width: 100%;
        height: 5vw;
        background: #5d548e;

    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: 0.5vw;
        margin-left: 45vw;
    }

    .name {
        font-size: 24px;
        color: #1b1b1b;
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        margin-left: 25vw;
    }

    .felipe {
        position: absolute;
        animation-name: slideInFromRight;
        transform: translateX(5%) translateY(-15%);

        animation-duration: 3s;

    }

    @keyframes slideInFromRight {
        0% {

            transform: translateX(80vw) translateY(-15%);

        }
        100% {
            transform: translateX(5%) translateY(-15%);
        }
    }

    .felipe:hover {
        background: #c9a7eb;
    }

    .divButtons {
        margin-top: -5.3vw;
        margin-left: 1vw;
    }

    .buttonExp {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        margin-left: 75vw;
        text-decoration: #e8e8e8;
        color: #1b1b1b;
        border-radius: 5px;
        font-size: 18px;
        font-style: normal;
        padding: 3px 15px;
    }

    .buttonExp:hover {
        background: cadetblue;
    }


    .buttonConhece {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        margin-top: 25px;
        margin-left: 1vw;
        text-decoration: #e8e8e8;
        color: #1b1b1b;
        border-radius: 5px;
        font-size: 18px;
        font-style: normal;
        padding: 3px 15px;
    }

    .buttonConhece:hover {
        background: cadetblue;
    }


    .icon {
        width: 30vw;
        height: 2vh;
        margin-top: 5vw;
        margin-left: 24vw;
    }

    .labelImgGit {
        display: inline-block;
        width: 5px;
        height: 5px;
    }


    .imagem_git {
        display: inline-block;
        vertical-align: middle;
        width: 3.5vw;
    }


    .labelImgLin {
        display: inline-block;
        margin-left: 4vw;
        width: 5px;
        height: 5px;
    }


    .imagem_insta {
        display: inline-block;
        vertical-align: middle;
        width: 3vw;
        margin-top: 0.4vw;
    }


    .labelImgIn {
        display: inline-block;
        margin-left: 4vw;
        width: 5px;
        height: 5px;
    }


    .imagem_linke {
        display: inline-block;
        vertical-align: middle;
        width: 2.8vw;
        margin-top: 0.5vw;
    }

    .textFundo {
        font-size: 68px;
        color: #c9a7eb;
        font-family: "Times New Roman", Times, serif;
        opacity: 70%;
        position: absolute;
        bottom: -15%;
        left: -2%;
        transform: translateY(100%) rotate(270deg) translateX(100%);
        animation-name: slideInFromBottom;
        animation-duration: 3s;
    }

    @keyframes slideInFromBottom {
        0% {

            transform: translateY(100%) rotate(270deg) translateX(-30%);

        }
        100% {
            transform: translateY(100%) rotate(270deg) translateX(100%);
        }
    }
}

@media (max-width: 900px) {
    body {
        margin: 0;
        background: #ECC9EE;
        height: 100vh;
    }

    .divLogo {
        width: 100%;
        height: 10vw;
        background: #5d548e;

    }

    .logo {
        width: 8vw;
        height: 8vw;
        margin-top: 0.5vw;
        margin-left: 5vw;
    }

    .name {
        font-size: 14px;
        color: #1b1b1b;
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        margin-left: 18vw;
    }

    .felipe {
        position: absolute;
        animation-name: slideInFromRight;
        transform: translateX(5%) translateY(-15%);
        animation-duration: 3s;

    }

    @keyframes slideInFromRight {
        0% {

            transform: translateX(80vw) translateY(-15%);

        }
        100% {
            transform: translateX(5%) translateY(-15%);
        }
    }

    .felipe:hover {
        background: #c9a7eb;
    }

    .divButtons {
        margin-top: -14vw;
        margin-left: 1vw;
    }

    .buttonExp {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        margin-left: 30vw;
        text-decoration: #e8e8e8;
        color: #1b1b1b;
        border-radius: 5px;
        font-size: 12px;
        font-style: normal;
        padding: 3px 15px;
    }

    .buttonExp:hover {
        background: cadetblue;
    }


    .buttonConhece {
        display: inline-block;
        font-family: "Times New Roman", Times, serif;
        margin-top: 25px;
        margin-left: 1vw;
        text-decoration: #e8e8e8;
        color: #1b1b1b;
        border-radius: 5px;
        font-size: 12px;
        font-style: normal;
        padding: 3px 15px;
    }

    .buttonConhece:hover {
        background: cadetblue;
    }


    .icon {
        width: 35vw;
        height: 4vh;
        margin-top: 5vw;
        margin-left: 20vw;
    }

    .labelImgGit {
        display: inline-block;
        width: 5px;
        height: 5px;
    }


    .imagem_git {
        display: inline-block;
        vertical-align: middle;
        width: 7vw;
    }


    .labelImgLin {
        display: inline-block;
        margin-left: 9vw;
        width: 5px;
        height: 5px;
    }


    .imagem_insta {
        display: inline-block;
        vertical-align: middle;
        width: 6.5vw;
        margin-top: 0.4vw;
    }


    .labelImgIn {
        display: inline-block;
        margin-left: 8vw;
        width: 5px;
        height: 5px;
    }


    .imagem_linke {
        display: inline-block;
        vertical-align: middle;
        width: 6vw;
        margin-top: 0.5vw;
    }

    .textFundo {
        font-size: 45px;
        color: #c9a7eb;
        font-family: "Times New Roman", Times, serif;
        opacity: 70%;
        position: absolute;
        left: -25%;
        transform: translateY(100%) rotate(270deg) translateX(100%);
        animation-name: slideInFromBottom;
        animation-duration: 3s;
    }

    @keyframes slideInFromBottom {
        0% {

            transform: translateY(100%) rotate(270deg) translateX(-30%);

        }
        100% {
            transform: translateY(100%) rotate(270deg) translateX(100%);
        }
    }
}
