body {
    background: #4f4f4f;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.name {
    font-size: 22px;
    color: #e8e8e8;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    margin-top: -5vw;
    margin-left: 7vw;
}

.buttonExp {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-left: 65vw;
    margin-top: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonConhece {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-left: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonCertificado {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-left: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.buttonTrabalhos {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-left: 1vw;
    text-decoration: #e8e8e8;
    color: #e8e8e8;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
}

.icon {
    width: 30vw;
    height: 5vh;
    margin-top: 25vw;
}

.imagem_git img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 1.5vw;
    width: 3.5vw;
}

.imagem_insta img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 1.8vw;
    width: 3vw;
}

.imagem_linke img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    margin-top: 1.9vw;
    width: 2.8vw;
}